.pm {
  max-width: 1300px;
  margin: 0px auto;
  padding: 15px 0;
  background-color: white;
  border-radius: 10spx;
}

.pm-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* spacing between logos */
}

.pm-logo {
  height: 54px;      /* desktop logo size */
  width: auto;
  object-fit: contain;
  filter: grayscale(10%);
  opacity: 1;
}

.pm-logo:hover {
  filter: none;
  opacity: 1;
}

@media (max-width: 600px) {
  .pm-item { padding: 0 18px; }
  .pm-logo { height: 38px; }
}